@use '../../../variables' as variables;

.wrap-collabsible {
  margin: 0;
}

.wrap-collabsible .label {
  margin-bottom: 0;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  color: variables.$white;
  border: 2px solid variables.$white;
  cursor: pointer;
  transition: all 0.25s ease-out;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  background-color: variables.$foldableBG;
}

.lbl-toggle:hover {
  color: variables.$white;
  border: 2px solid variables.$lightBlue;
}

.lbl-toggle::before { // The triangle thingy
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
.toggled + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggled + .lbl-toggle + .collapsible-content {
  max-height: fit-content;
}
.toggled + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
  background: variables.$lightBG;
  color: variables.$black;
  display: flex;
  flex-direction: column;
  width: 99.6%;
  padding-left: 4px;
  padding-right: 4px;
  margin: auto;
}
