<div class="top-block">
  <div class="left">
    <div class="portrait-left">
      <div class="char-versus-picture" [style.backgroundImage]="'url(' + getPlayerImageUrl() +')'">
      </div>
    </div>
  </div>
  <div class="stats-tabs">
    <div class="tab-labels" [ngClass]="{'tourHighlight': highlightLabels}">
      <ng-container *ngFor="let tab of tabs">
        <div class="label" [ngClass]="{'active': tab.active}" (click)="setActiveTab(tab.key)">{{tab.label}}</div>
      </ng-container>
    </div>
    <div class="tab-contents" *ngIf="currentCharacter && currentStage">
      <!-- Overall tab -->
      <ng-container *ngIf="isActiveTab('overall')">
        <div *ngIf="playerOverall && opponentOverall" class="content">
          <app-stats-line [label]="'Overall Stats'" [highlight]="true"></app-stats-line>
          <app-stats-line *ngIf="gameResults" [label]="'Winrate'"
            [value1]="gameResults[currentCharacter][currentStage] | number:'1.0-1'"
            [value2]="( 100 - gameResults[currentCharacter][currentStage]) | number:'1.0-1'" [unit1]="'%'"
            [unit2]="'%'"></app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>
          <app-stats-line
            [value1]="getData('conversionsRatio', playerOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [unit1]="'%'"
            [value2]="getData('conversionsRatio', opponentOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [unit2]="'%'" [label]="'% of openings'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('killCountMoyenne', playerOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [value2]="getData('killCountMoyenne', opponentOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [label]="'Average number of kills'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('killPercentMoyenne', playerOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [unit1]="'%'"
            [value2]="getData('killPercentMoyenne', opponentOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [unit2]="'%'" [label]="'Average kill %'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('openingsPerKillMoyenne', playerOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [value2]="getData('openingsPerKillMoyenne', opponentOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [label]="'Openings per kill'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('totalDamageMoyenne', playerOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [unit1]="'%'"
            [value2]="getData('totalDamageMoyenne', opponentOverall, currentCharacter, currentStage)| number:'1.0-1'"
            [unit2]="'%'" [label]="'Average damage done'">
          </app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>
        </div>
      </ng-container>
      <!-- Conversions tab -->
      <ng-container *ngIf="isActiveTab('conversions')">
        <div *ngIf="playerConversions && opponentConversions" class="content">
          <app-stats-line [label]="'Conversion Stats'" [highlight]="true"></app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>
          <app-stats-line [label]="'Damage for most common neutral openers'"></app-stats-line>
          <app-stats-line *ngFor="let i of [0,1,2]"
            [value1]="getData('processedDamageForMostCommonNeutralOpeners', playerConversions, currentCharacter, currentStage)[i] ? getMoveName(getData('processedDamageForMostCommonNeutralOpeners', playerConversions, currentCharacter, currentStage)[i].moveId) + ' - ' + (getData('processedDamageForMostCommonNeutralOpeners', playerConversions, currentCharacter, currentStage)[i].averageDamage | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedDamageForMostCommonNeutralOpeners', playerConversions, currentCharacter, currentStage)[i] ? getMoveName(getData('processedDamageForMostCommonNeutralOpeners', opponentConversions, currentCharacter, currentStage)[i].moveId) + ' - ' + (getData('processedDamageForMostCommonNeutralOpeners', opponentConversions, currentCharacter, currentStage)[i].averageDamage | number:'1.0-1') : 'N/A'"
            [unit2]="'%'">
          </app-stats-line>
          <app-stats-line [label]="'Damage for most common punishes'"></app-stats-line>
          <app-stats-line *ngFor="let i of [0,1,2]"
            [value1]="getData('processedDamageForMostCommonPunishStarts', playerConversions, currentCharacter, currentStage)[i] ? getMoveName(getData('processedDamageForMostCommonPunishStarts', playerConversions, currentCharacter, currentStage)[i].moveId) + ' - ' + (getData('processedDamageForMostCommonPunishStarts', playerConversions, currentCharacter, currentStage)[i].averageDamage | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedDamageForMostCommonPunishStarts', playerConversions, currentCharacter, currentStage)[i] ? getMoveName(getData('processedDamageForMostCommonPunishStarts', opponentConversions, currentCharacter, currentStage)[i].moveId) + ' - ' + (getData('processedDamageForMostCommonPunishStarts', opponentConversions, currentCharacter, currentStage)[i].averageDamage | number:'1.0-1') : 'N/A'"
            [unit2]="'%'">
          </app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>
          <app-stats-line [label]="'Neutral Wins'" [highlight]="true"></app-stats-line>
          <app-stats-line
            [value1]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage)['single-hit'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', opponentConversions, currentCharacter, currentStage)['single-hit'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Average damage (single-move)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage)['multi-hits'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', opponentConversions, currentCharacter, currentStage)['multi-hits'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Average damage (multi-moves conversions)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage)['multi-hits'].averageLength | number:'1.0-1') : 'N/A'"
            [value2]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', opponentConversions, currentCharacter, currentStage)['multi-hits'].averageLength | number:'1.0-1') : 'N/A'"
            [label]="'Average length (multi-moves conversions)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage)['multi-hits'].maxDamage | number:'1.0-1') : 'N/A'"
            [value2]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', opponentConversions, currentCharacter, currentStage)['multi-hits'].maxDamage | number:'1.0-1') : 'N/A'"
            [label]="'Maximum damage (multi-moves conversions)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage)['multi-hits'].maxLength | number:'1.0-1') : 'N/A'"
            [value2]="getData('processedNeutralWinsConversions', playerConversions, currentCharacter, currentStage) ? (getData('processedNeutralWinsConversions', opponentConversions, currentCharacter, currentStage)['multi-hits'].maxLength | number:'1.0-1') : 'N/A'"
            [label]="'Longest multi-moves conversion'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedNeutralWinsFirstHits', playerConversions, currentCharacter, currentStage) ? getData('processedNeutralWinsFirstHits', playerConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedNeutralWinsFirstHits', playerConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedNeutralWinsFirstHits', playerConversions, currentCharacter, currentStage) ? getData('processedNeutralWinsFirstHits', opponentConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedNeutralWinsFirstHits', opponentConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Most common neutral opener'">
          </app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>

          <app-stats-line [label]="'Punishes'" [highlight]="true"></app-stats-line>
          <app-stats-line
            [value1]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', playerConversions, currentCharacter, currentStage)['single-hit'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', opponentConversions, currentCharacter, currentStage)['single-hit'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Average damage (single-move)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', playerConversions, currentCharacter, currentStage)['multi-hits'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', opponentConversions, currentCharacter, currentStage)['multi-hits'].averageDamage | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Average damage (multi-moves conversions)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', playerConversions, currentCharacter, currentStage)['multi-hits'].averageLength | number:'1.0-1') : 'N/A'"
            [value2]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', opponentConversions, currentCharacter, currentStage)['multi-hits'].averageLength | number:'1.0-1') : 'N/A'"
            [label]="'Average length (multi-moves conversions)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', playerConversions, currentCharacter, currentStage)['multi-hits'].maxDamage | number:'1.0-1') : 'N/A'"
            [value2]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', opponentConversions, currentCharacter, currentStage)['multi-hits'].maxDamage | number:'1.0-1') : 'N/A'"
            [label]="'Maximum damage (multi-moves conversions)'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', playerConversions, currentCharacter, currentStage)['multi-hits'].maxLength | number:'1.0-1') : 'N/A'"
            [value2]="getData('processedPunishes', playerConversions, currentCharacter, currentStage) ? (getData('processedPunishes', opponentConversions, currentCharacter, currentStage)['multi-hits'].maxLength | number:'1.0-1') : 'N/A'"
            [label]="'Longest multi-moves conversion'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedPunishesFirstHits', playerConversions, currentCharacter, currentStage) ? getData('processedPunishesFirstHits', playerConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedPunishesFirstHits', playerConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedPunishesFirstHits', opponentConversions, currentCharacter, currentStage) ? getData('processedPunishesFirstHits', opponentConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedPunishesFirstHits', opponentConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Most common punish option'">
          </app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>
          <app-stats-line [label]="'Kills'" [highlight]="true"></app-stats-line>
          <app-stats-line
            [value1]="getData('processedKillNeutralFirstHits', playerConversions, currentCharacter, currentStage) ? getData('processedKillNeutralFirstHits', playerConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillNeutralFirstHits', playerConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedKillNeutralFirstHits', playerConversions, currentCharacter, currentStage) ? getData('processedKillNeutralFirstHits', opponentConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillNeutralFirstHits', opponentConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Most common neutral kill starter'">
          </app-stats-line>
          <app-stats-line
            [value1]="getData('processedKillNeutralLastHits', playerConversions, currentCharacter, currentStage) ? getData('processedKillNeutralLastHits', playerConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillNeutralLastHits', playerConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit1]="'%'"
            [value2]="getData('processedKillNeutralLastHits', playerConversions, currentCharacter, currentStage) ? getData('processedKillNeutralLastHits', opponentConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillNeutralLastHits', opponentConversions, currentCharacter, currentStage).count | number:'1.0-1') : 'N/A'"
            [unit2]="'%'" [label]="'Most common neutral kill finisher'">
          </app-stats-line>
          <ng-container *ngIf="getData('processedKillPunishFirstHits', playerConversions, currentCharacter, currentStage) !== undefined">
            <app-stats-line
              [value1]="getData('processedKillPunishFirstHits', playerConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillPunishFirstHits', playerConversions, currentCharacter, currentStage).count | number:'1.0-1')"
              [unit1]="'%'"
              [value2]="getData('processedKillPunishFirstHits', opponentConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillPunishFirstHits', opponentConversions, currentCharacter, currentStage).count | number:'1.0-1')"
              [unit2]="'%'" [label]="'Most common punish kill starter'">
            </app-stats-line>
          </ng-container>
          <ng-container *ngIf="getData('processedKillPunishLastHits', playerConversions, currentCharacter, currentStage) !== undefined">
            <app-stats-line
              [value1]="getData('processedKillPunishLastHits', playerConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillPunishLastHits', playerConversions, currentCharacter, currentStage).count | number:'1.0-1')"
              [unit1]="'%'"
              [value2]="getData('processedKillPunishLastHits', opponentConversions, currentCharacter, currentStage).move + ' - ' + (getData('processedKillPunishLastHits', opponentConversions, currentCharacter, currentStage).count | number:'1.0-1')"
              [unit2]="'%'" [label]="'Most common punish kill finisher'">
            </app-stats-line>
          </ng-container>
          <app-stats-line [separator]="true"></app-stats-line>
        </div>
      </ng-container>
      <!-- Punished options tab -->
      <ng-container *ngIf="isActiveTab('punishes')">
        <div *ngIf="punishedActionsForPlayer && punishedActionsForOpponent" class="content">
          <app-stats-line [label]="'Punished options Stats'" [highlight]="true"></app-stats-line>
          <app-stats-line [value1]="'Player actions punished by opponent'"
            [value2]="'Opponent actions punished by player'"></app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>
          <app-stats-line [label]="'Punished attacks'" [highlight]="true"></app-stats-line>
          <app-stats-line [label]="'On whiff'"></app-stats-line>
          <ng-container
            *ngFor="let option of getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForPlayer, currentCharacter, currentStage).onWhiff); let i = index;">
            <app-stats-line [value1]="option.attack + ' - ' + (option.count | number:'1.0-1')" [unit1]="'%'"
              [unit2]="'%'"
              [value2]="getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage)?.onWhiff)?.length > i ? getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onWhiff)[i].attack + ' - ' + (getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onWhiff)[i].count | number:'1.0-1'): 'N/A '">
            </app-stats-line>
          </ng-container>

          <app-stats-line [label]="'On shield'"></app-stats-line>
          <ng-container
            *ngFor="let option of getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForPlayer, currentCharacter, currentStage).onShield); let i = index;">
            <app-stats-line [value1]="option.attack + ' - ' + (option.count | number:'1.0-1')" [unit1]="'%'"
              [unit2]="'%'"
              [value2]="getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage)?.onShield)?.length > i ? getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onShield)[i].attack + ' - ' + (getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onShield)[i].count | number:'1.0-1'): 'N/A '">
            </app-stats-line>
          </ng-container>

          <app-stats-line [label]="'On powershield'"></app-stats-line>
          <ng-container
            *ngFor="let option of getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForPlayer, currentCharacter, currentStage).onPShield); let i = index;">
            <app-stats-line [value1]="option.attack + ' - ' + (option.count | number:'1.0-1')" [unit1]="'%'"
              [unit2]="'%'"
              [value2]="getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage)?.onPShield)?.length > i ? getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onPShield)[i].attack + ' - ' + (getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onPShield)[i].count | number:'1.0-1'): 'N/A '">
            </app-stats-line>
          </ng-container>

          <app-stats-line [label]="'On hit'"></app-stats-line>
          <ng-container
            *ngFor="let option of getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForPlayer, currentCharacter, currentStage).onHit); let i = index;">
            <app-stats-line *ngIf="option" [value1]="option.attack + ' - ' + (option.count | number:'1.0-1')"
              [unit1]="'%'" [unit2]="'%'"
              [value2]="getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage)?.onHit)?.length > i ? getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onHit)[i].attack + ' - ' + (getTop3OfPunishedOptions(getData('punishedAttacks', punishedActionsForOpponent, currentCharacter, currentStage).onHit)[i].count | number:'1.0-1'): 'N/A '">
            </app-stats-line>
          </ng-container>

          <app-stats-line [label]="'Punished defensive options'" [highlight]="true"></app-stats-line>
          <ng-container
            *ngFor="let option of getTop3OfPunishedOptions(getData('punishedDefensiveOptions', punishedActionsForPlayer, currentCharacter, currentStage)); let i = index;">
            <app-stats-line *ngIf="option" [value1]="option.defensiveOption + ' - ' + (option.count | number:'1.0-1')"
              [unit1]="'%'" [unit2]="'%'"
              [value2]="getTop3OfPunishedOptions(getData('punishedDefensiveOptions', punishedActionsForOpponent, currentCharacter, currentStage))?.length > i ? getTop3OfPunishedOptions(getData('punishedDefensiveOptions', punishedActionsForOpponent, currentCharacter, currentStage))[i].defensiveOption + ' - ' + (getTop3OfPunishedOptions(getData('punishedDefensiveOptions', punishedActionsForOpponent, currentCharacter, currentStage))[i].count | number:'1.0-1'): 'N/A '">
            </app-stats-line>
          </ng-container>

          <app-stats-line [label]="'Punished movement options'" [highlight]="true"></app-stats-line>
          <ng-container
            *ngFor="let option of getTop3OfPunishedOptions(getData('punishedMovementOptions', punishedActionsForPlayer, currentCharacter, currentStage)); let i = index;">
            <app-stats-line *ngIf="option" [value1]="option.movementOption + ' - ' + (option.count | number:'1.0-1')"
              [unit1]="'%'" [unit2]="'%'"
              [value2]="getTop3OfPunishedOptions(getData('punishedMovementOptions', punishedActionsForOpponent, currentCharacter, currentStage))?.length > i ? getTop3OfPunishedOptions(getData('punishedMovementOptions', punishedActionsForOpponent, currentCharacter, currentStage))[i].movementOption + ' - ' + (getTop3OfPunishedOptions(getData('punishedMovementOptions', punishedActionsForOpponent, currentCharacter, currentStage))[i].count | number:'1.0-1'): 'N/A '">
            </app-stats-line>
          </ng-container>
          <app-stats-line [separator]="true"></app-stats-line>
        </div>
      </ng-container>
      <!-- L-Cancels tab -->
      <ng-container *ngIf="isActiveTab('lcancels')">
        <div *ngIf="lcancelsForPlayer && lcancelsForOpponent" class="content">
          <app-stats-line [label]="'L-Cancel Stats'" [highlight]="true"></app-stats-line>
          <app-stats-line [separator]="true"></app-stats-line>

          <app-stats-line
            [value1]="getRatio(getData('lcancels', lcancelsForPlayer, currentCharacter, currentStage)) | number:'1.0-1'"
            [unit1]="'%'"
            [value2]="getRatio(getData('lcancels', lcancelsForOpponent, currentCharacter, currentStage)) | number:'1.0-1'"
            [unit2]="'%'" [label]="'Ratio of successful L-Cancels'">
          </app-stats-line>

          <app-stats-line [label]="'Moves with failed l-cancels'"></app-stats-line>
          <ng-container
            *ngFor="let option of getTop3OfPunishedOptions(getData('failedMoves', lcancelsForPlayer, currentCharacter, currentStage)); let i = index;">
            <app-stats-line [value1]="removeLanding(option.move) + ' - ' + (option.count | number:'1.0-1')"
              [unit1]="'%'" [unit2]="'%'"
              [value2]="getTop3OfPunishedOptions(getData('failedMoves', lcancelsForOpponent, currentCharacter, currentStage))?.length > i ? removeLanding(getTop3OfPunishedOptions(getData('failedMoves', lcancelsForOpponent, currentCharacter, currentStage))[i].move) + ' - ' + (getTop3OfPunishedOptions(getData('failedMoves', lcancelsForOpponent, currentCharacter, currentStage))[i].count | number:'1.0-1'): 'N/A '">
            </app-stats-line>
          </ng-container>
          <app-stats-line [separator]="true"></app-stats-line>
        </div>
      </ng-container>
      <!-- Technical execution tab -->
      <ng-container *ngIf="isActiveTab('execution')">
        <div class="content">
          <ng-container *ngIf="ledgeDashesForPlayer && ledgeDashesForOpponent">
            <app-stats-line [label]="'Ledgedashes Stats'" [highlight]="true"></app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
            <app-stats-line [label]="'Invincible Ledgedashes'" [highlight]="true"></app-stats-line>
            <app-stats-line [label]="'% of total ledgedashes'"
              [value1]="getData('invincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.percentOfTotalLedgedashes ? (getData('invincible', ledgeDashesForPlayer, currentCharacter, currentStage).percentOfTotalLedgedashes | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="getData('invincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.percentOfTotalLedgedashes ? (getData('invincible', ledgeDashesForOpponent, currentCharacter, currentStage).percentOfTotalLedgedashes | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Average extra invincibility frames'"
              [value1]="getData('invincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageExtraInvincibilityFrames ? (getData('invincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageExtraInvincibilityFrames | number:'1.0-1') : 'N/A'"
              [value2]="getData('invincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageExtraInvincibilityFrames ? (getData('invincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageExtraInvincibilityFrames | number:'1.0-1') : 'N/A'">
            </app-stats-line>
            <app-stats-line [label]="'Average framecount since ledgedrop'"
              [value1]="getData('invincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop ? (getData('invincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'"
              [value2]="getData('invincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop ? (getData('invincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'">
            </app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
            <app-stats-line [label]="'Non-invincible Ledgedashes'" [highlight]="true"></app-stats-line>
            <app-stats-line [label]="'Average framecount since ledgedrop'"
              [value1]="getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop ? (getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'"
              [value2]="getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop ? (getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageFramesSinceLedgeDrop | number:'1.0-1') : 'N/A'">
            </app-stats-line>
            <app-stats-line [label]="'Average vulnerability frames'"
              [value1]="getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageVulnerabilityFrames ? (getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.averageVulnerabilityFrames | number:'1.0-1') : 'N/A'"
              [value2]="getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageVulnerabilityFrames ? (getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.averageVulnerabilityFrames | number:'1.0-1') : 'N/A'">
            </app-stats-line>
            <app-stats-line [label]="'Min vulnerability frames'"
              [value1]="getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.minVulnerabilityFrames ? (getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.minVulnerabilityFrames | number:'1.0-1') : 'N/A'"
              [value2]="getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.minVulnerabilityFrames ? (getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.minVulnerabilityFrames | number:'1.0-1') : 'N/A'">
            </app-stats-line>
            <app-stats-line [label]="'Max vulnerability frames'"
              [value1]="getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.maxVulnerabilityFrames ? (getData('notInvincible', ledgeDashesForPlayer, currentCharacter, currentStage)?.maxVulnerabilityFrames | number:'1.0-1') : 'N/A'"
              [value2]="getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.maxVulnerabilityFrames ? (getData('notInvincible', ledgeDashesForOpponent, currentCharacter, currentStage)?.maxVulnerabilityFrames| number:'1.0-1') : 'N/A'">
            </app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
          </ng-container>
          <ng-container *ngIf="playerWavedashes && opponentWavedashes">
            <app-stats-line [label]="'Wavedash Stats'" [highlight]="true"></app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
            <app-stats-line [label]="'Frame 1 wavedashes'"
              [value1]="playerWavedashes[currentCharacter][currentStage]?.frame1 ? (playerWavedashes[currentCharacter][currentStage].frame1 | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentWavedashes[currentCharacter][currentStage]?.frame1 ? (opponentWavedashes[currentCharacter][currentStage].frame1 | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Frame 2 wavedashes'"
              [value1]="playerWavedashes[currentCharacter][currentStage]?.frame2 ? (playerWavedashes[currentCharacter][currentStage].frame2 | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentWavedashes[currentCharacter][currentStage]?.frame2 ? (opponentWavedashes[currentCharacter][currentStage].frame2 | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Frame 3 wavedashes'"
              [value1]="playerWavedashes[currentCharacter][currentStage]?.frame3 ? (playerWavedashes[currentCharacter][currentStage].frame3 | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentWavedashes[currentCharacter][currentStage]?.frame3 ? (opponentWavedashes[currentCharacter][currentStage].frame3 | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Frame 4+ wavedashes'"
              [value1]="playerWavedashes[currentCharacter][currentStage]?.more ? (playerWavedashes[currentCharacter][currentStage].more | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentWavedashes[currentCharacter][currentStage]?.more ? (opponentWavedashes[currentCharacter][currentStage].more | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
          </ng-container>
          <ng-container *ngIf="playerJCGrabs && opponentJCGrabs">
            <app-stats-line [label]="'Jump Cancel Grabs Stats'" [highlight]="true"></app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
            <app-stats-line [label]="'Frame 1 JC Grabs'"
              [value1]="playerJCGrabs[currentCharacter][currentStage]?.successful?.frame1 ? (playerJCGrabs[currentCharacter][currentStage].successful.frame1 | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentJCGrabs[currentCharacter][currentStage]?.successful?.frame1 ? (opponentJCGrabs[currentCharacter][currentStage].successful.frame1 | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Frame 2 JC Grabs'"
              [value1]="playerJCGrabs[currentCharacter][currentStage]?.successful?.frame2 ? (playerJCGrabs[currentCharacter][currentStage].successful.frame2 | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentJCGrabs[currentCharacter][currentStage]?.successful?.frame2 ? (opponentJCGrabs[currentCharacter][currentStage].successful.frame2 | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Frame 3 or more JC Grabs'"
              [value1]="playerJCGrabs[currentCharacter][currentStage]?.successful?.frame3orMore ? (playerJCGrabs[currentCharacter][currentStage].successful.frame3orMore | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentJCGrabs[currentCharacter][currentStage]?.successful?.frame3orMore ? (opponentJCGrabs[currentCharacter][currentStage].successful.frame3orMore | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
            <app-stats-line [label]="'Failed JC Grabs'"></app-stats-line>
            <app-stats-line [label]="'Jump input one frame late'"
              [value1]="playerJCGrabs[currentCharacter][currentStage]?.failed?.oneFrameLate ? (playerJCGrabs[currentCharacter][currentStage].failed.oneFrameLate | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentJCGrabs[currentCharacter][currentStage]?.failed?.oneFrameLate ? (opponentJCGrabs[currentCharacter][currentStage].failed.oneFrameLate | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Jump input two frames late'"
              [value1]="playerJCGrabs[currentCharacter][currentStage]?.failed?.twoFramesLate ? (playerJCGrabs[currentCharacter][currentStage].failed.twoFramesLate | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentJCGrabs[currentCharacter][currentStage]?.failed?.twoFramesLate ? (opponentJCGrabs[currentCharacter][currentStage].failed.twoFramesLate | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [label]="'Jump input three frames late'"
              [value1]="playerJCGrabs[currentCharacter][currentStage]?.failed?.threeFramesLate ? (playerJCGrabs[currentCharacter][currentStage].failed.threeFramesLate | number:'1.0-1') : '0' "
              [unit1]="'%'" [unit2]="'%'"
              [value2]="opponentJCGrabs[currentCharacter][currentStage]?.failed?.threeFramesLate ? (opponentJCGrabs[currentCharacter][currentStage].failed.threeFramesLate | number:'1.0-1') : '0' ">
            </app-stats-line>
            <app-stats-line [separator]="true"></app-stats-line>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="right">
    <div class="portrait-right">
      <div class="char-versus-picture" [style.backgroundImage]="'url(' + getOpponentImageUrl() +')'">
      </div>
    </div>
  </div>
  <div class="player-label-block left-side">
    <div class="info" *ngIf="writeFeedbackMessage">
      {{writeFeedbackMessage}}
    </div>
    <div class="highlight" [ngClass]="{'tourHighlight': highlightSaveStats}">
      Stats for {{stats.playerCharName}}
    </div>
    <div class="action" (click)="writeStats()"> Save stats </div>
  </div>
  <div class="player-label-block right-side">
    <div class="action" (click)="back()"> Back to filter </div>
    <div class="highlight">
      Stats against {{currentCharacter}}
    </div>
    <div class="action" [ngClass]="{'tourHighlight': highlightChangeChar}" (click)="openCharacterSelect()"> Change
      character </div>
  </div>
</div>
<div class="bottom-block">
  <div class="stages-list" *ngIf="playerOverall" [ngClass]="{'tourHighlight': highlightStages}">
    <ng-container *ngFor="let stage of getKeys(playerOverall[currentCharacter])">
      <div class="stage" [ngClass]="{'active': isActiveStage(stage)}" (click)="setActiveStage(stage)">
        <img src="{{getStagePicture(stage)}}" />
        <div class="name">{{getStageName(stage) | uppercase}}</div>
      </div>
    </ng-container>
  </div>
</div>
<div class="modale" *ngIf="showModale">
  <div class="characterModale" *ngIf="characterModale">
    <ng-container *ngFor="let character of getKeys(playerOverall)">
      <div class="characterPicture" (click)="saveCharacter(character)">
        <img src="{{getOpponentCharacterImageUrl(character)}}">
      </div>
    </ng-container>
  </div>
</div>