$menuBackground : #1e1736a9;

$white: #c5c9cc;
$orange: orange;
$black: #212529;

$darkBG: #210a31;
$greyBG: #312f2f;
$bodyBG:  #286163;
$lightBG:  #8b8a9e;
$foldableBG: #362e63;
$greenBG: rgb(40, 97, 99);

$darkBorder: #343a40;
$lightBorder: #5d656d;
$lightGreen: #5bba83;
$lightRed:  #8d2f2f;
$darkGreen : #0b612f;
$darkRed: #5e1313;
$lightBlue: #699be2
